{
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 2,
    "printWidth": 80,
    "arrowParens": "avoid",
    "plugins": [
        "prettier-plugin-apex"
    ],
    "overrides": [
        {
            "files": "*.{cls, apex}",
            "options": {
                "parser": "apex"
            }
        }
    ]
}